@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
    }
}

/* PPMori ExtraLight */
@font-face {
    font-family: 'PPMori';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/assets/fonts/mori/PPMori-Extralight.woff2') format('woff2'),
    url('/assets/fonts/mori/PPMori-Extralight.woff') format('woff'),
    url('/assets/fonts/mori/PPMori-Extralight.ttf') format('truetype'),
    url('/assets/fonts/mori/PPMori-Extralight.otf') format('opentype'),
    url('/assets/fonts/mori/PPMori-Extralight.eot');
}

@layer base {
    /* PPMori Book */
    @font-face {
        font-family: 'PPMori';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/assets/fonts/mori/PPMori-Book.woff2') format('woff2'),
        url('/assets/fonts/mori/PPMori-Book.woff') format('woff'),
        url('/assets/fonts/mori/PPMori-Book.ttf') format('truetype'),
        url('/assets/fonts/mori/PPMori-Book.otf') format('opentype'),
        url('/assets/fonts/mori/PPMori-Book.eot');
    }

    /* PPMori Book Italic */
    @font-face {
        font-family: 'PPMori';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url('/assets/fonts/mori/PPMori-BookItalic.woff2') format('woff2'),
        url('/assets/fonts/mori/PPMori-BookItalic.woff') format('woff'),
        url('/assets/fonts/mori/PPMori-BookItalic.ttf') format('truetype'),
        url('/assets/fonts/mori/PPMori-BookItalic.otf') format('opentype'),
        url('/assets/fonts/mori/PPMori-BookItalic.eot');
    }

    /* PPMori ExtraBold */
    @font-face {
        font-family: 'PPMori';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url('/assets/fonts/mori/PPMori-ExtraBold.woff2') format('woff2'),
        url('/assets/fonts/mori/PPMori-ExtraBold.woff') format('woff'),
        url('/assets/fonts/mori/PPMori-ExtraBold.ttf') format('truetype'),
        url('/assets/fonts/mori/PPMori-ExtraBold.otf') format('opentype'),
        url('/assets/fonts/mori/PPMori-ExtraBold.eot');
    }

    /* PPMori ExtraBold Italic */
    @font-face {
        font-family: 'PPMori';
        font-style: italic;
        font-weight: 800;
        font-display: swap;
        src: url('/assets/fonts/mori/PPMori-ExtraBoldItalic.woff2') format('woff2'),
        url('/assets/fonts/mori/PPMori-ExtraBoldItalic.woff') format('woff'),
        url('/assets/fonts/mori/PPMori-ExtraBoldItalic.ttf') format('truetype'),
        url('/assets/fonts/mori/PPMori-ExtraBoldItalic.otf') format('opentype'),
        url('/assets/fonts/mori/PPMori-ExtraBoldItalic.eot');
    }



    /* PPMori ExtraLight Italic */
    @font-face {
        font-family: 'PPMori';
        font-style: italic;
        font-weight: 200;
        font-display: swap;
        src: url('/assets/fonts/mori/PPMori-ExtralightItalic.woff2') format('woff2'),
        url('/assets/fonts/mori/PPMori-ExtralightItalic.woff') format('woff'),
        url('/assets/fonts/mori/PPMori-ExtralightItalic.ttf') format('truetype'),
        url('/assets/fonts/mori/PPMori-ExtralightItalic.otf') format('opentype'),
        url('/assets/fonts/mori/PPMori-ExtralightItalic.eot');
    }

    /* PPMori SemiBold */
    @font-face {
        font-family: 'PPMori';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/assets/fonts/mori/PPMori-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/mori/PPMori-SemiBold.woff') format('woff'),
        url('/assets/fonts/mori/PPMori-SemiBold.ttf') format('truetype'),
        url('/assets/fonts/mori/PPMori-SemiBold.otf') format('opentype'),
        url('/assets/fonts/mori/PPMori-SemiBold.eot');
    }

    /* PPMori SemiBold Italic */
    @font-face {
        font-family: 'PPMori';
        font-style: italic;
        font-weight: 600;
        font-display: swap;
        src: url('/assets/fonts/mori/PPMori-SemiBoldItalic.woff2') format('woff2'),
        url('/assets/fonts/mori/PPMori-SemiBoldItalic.woff') format('woff'),
        url('/assets/fonts/mori/PPMori-SemiBoldItalic.ttf') format('truetype'),
        url('/assets/fonts/mori/PPMori-SemiBoldItalic.otf') format('opentype'),
        url('/assets/fonts/mori/PPMori-SemiBoldItalic.eot');
    }
}


:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html,
body,
#root {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: system-ui, sans-serif;
    min-height: 100svh;
    margin: 0;
    color: #131313;
    background: white;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    font-size: 16px;
}

button[aria-label="Close"] {
    /*display: none;*/
}

.timeline-separator {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background: #F2F2F3;
    left: 3.5rem;
}

.flex {
    display: flex;
}

.flex.fill {
    height: 100%;
}

.flex.center {
    justify-content: center;
}

.deck {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 5rem;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
}

.limit-paragraph-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.deck > div {
    touch-action: none;
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 200px;
    height: 85vh;
    max-height: 450px;
    will-change: transform;
    border-radius: 10px;
}

.checkbox-wrapper {
    width: 16px;
    height: 16px;
    padding: 2px;
}

.content {
    margin: 100px 0;
}

.card.animated.step {

    opacity: 0;
    transform: translateY(15px);
    transition: opacity 1s ease, transform 1s ease;
}

.card.animated.step.in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Animation for step content */
.fade-enter {
    opacity: 0;
    transform: translateX(50px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit {
    opacity: 1;
    transform: translateX(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 300ms, transform 300ms;
}

.progress-bar-tooltip {
    border-radius: 8px;
    box-shadow: 0 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03);
    padding: 8px 12px;
    white-space: nowrap;
}

.triangle {
    position: absolute;
    top: -20px; /* Move above the bubble */
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    background-color: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    box-shadow: 0 4px 12px rgba(10, 13, 18, 0.08);
}

.dialog-center [role="dialog"] {
    display: flex;
    align-items: center;
    width: 100%;
}

.dialog-center [role="dialog"] > div {
    width: 100%;
}

[data-testid="flowbite-dropdown"] {
    z-index: 5000;
}

.collections-dropdown-wrapper > button {
    font-size: .75rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 600;
}

[data-testid="flowbite-avatar"] > div > div {
    padding: 15px;
}

.swipe-card-wrapper {
    margin-left: -12px;
    margin-right: -12px;
}